# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
**/build/
.pub-cache/
.melos_tool/

# IDE
.idea/
.vscode/
*.iml

# Android/Gradle caches
android/.gradle/

# Artifacts we must never commit
*.apk
*.aab
*.ipa
